<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row> <ion-col size="12" class="ion-text-center"> <ion-button (click)="handleSwitchClick()"> Switch </ion-button></ion-col> </ion-row>
    <ion-row> <ion-col size="6" class="ion-text-center"> Belayer:</ion-col> <ion-col size="6"> Climber: </ion-col> </ion-row>
    <ion-row> <ion-col size="6" class="ion-text-center"> {{currBelayer.name}} </ion-col> <ion-col size="6"> {{currClimber.name}}</ion-col> </ion-row>

    <ion-row> <ion-col size="12" class="ion-text-center">
      <div *ngIf="!!timerServ.stopWatches[currClimber.id].getCurrentLocalInterval()">
      {{timerServ.stopWatches[currClimber.id].getCurrentLocalInterval()}} 
      </div>
      <div *ngIf="!timerServ.stopWatches[currClimber.id].getCurrentLocalInterval()">
        00
      </div>

    </ion-col> </ion-row>

    <ion-row>
      <ion-col size="3"><ion-button (click)="startTimer()">Start</ion-button></ion-col>
      <ion-col size="3"><ion-button (click)="pauseTimer()">Pause</ion-button></ion-col>
      <ion-col size="3"><ion-button (click)="resetTimer()">Reset</ion-button></ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
