
<div *ngIf="showDatePicker">


        <!-- (dateChange)="handleStartDateChange($event)"
        (dateInput)="handleStartDateChange($event)" -->
          <!-- (dateChange)="handleEndDateChange($event)"
        (dateInput)="handleEndDateChange($event)"  -->
  <mat-form-field>
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [formGroup]="rangeFormGroup" [rangePicker]="picker" >
      <input matStartDate matInput
        placeholder="Start Date"
        formControlName="start"
       >
      <input matEndDate matInput
        placeholder="End date"
        formControlName="end"
      >
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>

    <mat-date-range-picker
      #picker
      touchUi
      [dateClass]="dateClass" >
    </mat-date-range-picker>
  </mat-form-field>
</div>

<div *ngIf="dataReady" style="display: block">
  <canvas baseChart
    [data]="totalTimes"
    [labels]="labels"
    [chartType]="doughnutChartType">

  </canvas>
</div>
<div class="danger" *ngIf="showNoDataAvailableMessage">
  <h1> {{users[0].name}} and {{users[1].name}} have never belayed each other!</h1>
</div>

<!-- <div class="owner-color">
<h1> TEST TEST</h1>
</div> -->


<!-- <div style="display: block">
<canvas baseChart
  [attr.data]="doughnutChartData"
  [attr.labels]="doughnutChartLabels"
  [attr.chartType]="doughnutChartType">
</canvas>
</div>
 -->

<!-- <div style="display: block">
  <canvas baseChart
    [data]="doughnutChartData"
    [labels]="doughnutChartLabels"
    [chartType]="doughnutChartType">
  </canvas>
</div> -->
